<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="lidar" params="parent_link *origin">
    <xacro:include filename="$(find rover_config)/urdf/lidar.gazebo" />
    
    <joint name="joint_lidar" type="fixed">
        <parent link="${parent_link}"/>
        <child link="lidar_link"/>
        <xacro:insert_block name="origin" />
    </joint>

    <link name="lidar_link">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
        </visual>
    </link>
  </xacro:macro>
</robot>